html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table, td, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
}

td {
  padding: 0.75rem;
}

.text-center table {
  margin: auto;
}

.form-container {
  width: 400px;
  margin: auto;
}

.form-label, .form-input {
  display: inline-block;
}

.form-label {
  width: 140px;
}

.form-input {
  margin-left: 10px;
  width: 245px;
}

.form-input input {
  width: 100%;
  border-radius: 3px;
  border-width: thin;
}

thead td {
  font-weight: bold;
  background-color: #e0ffff;
}

tbody .row-id {
  font-weight: bold;
}

tbody .row-1 {
  background-color: #f0f0f0;
}
