html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table, td, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
}

td {
  padding: 0.75rem;
}

.text-center table {
  margin: auto;
}
