@model OrderInsertModel
@{
    ViewData["Title"] = "Place a new order";
}

<div class="text-center">
    <h1 class="display-4">Place a new order</h1>
</div>

<div class="form-container">
    <form method="post">
        <div class="form-row">
            <div class="input-label">
                <label asp-for="SenderCity">Sender's city</label>
            </div>
            <div class="form-input">
                <input type="text" asp-for="SenderCity" required/>
                <span asp-validation-for="SenderCity"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="input-label">
                <label asp-for="SenderAddress">Sender's address</label>
            </div>
            <div class="form-input">
                <input type="text" asp-for="SenderAddress" required/>
                <span asp-validation-for="SenderAddress"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="input-label">
                <label asp-for="ReceiverCity">Receiver's city</label>
            </div>
            <div class="form-input">
                <input type="text" asp-for="ReceiverCity" required/>
                <span asp-validation-for="ReceiverCity"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="input-label">
                <label asp-for="ReceiverAddress">Receiver's address</label>
            </div>
            <div class="form-input">
                <input type="text" asp-for="ReceiverAddress" required/>
                <span asp-validation-for="ReceiverAddress"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="input-label">
                <label asp-for="Weight">Parcel weight, kg</label>
            </div>
            <div class="form-input">
                <input type="number" asp-for="Weight" min="0" step=".01" required/>
                <span asp-validation-for="Weight"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="input-label">
                <label asp-for="DeliveryDate">Delivery date</label>
            </div>
            <div class="form-input">
                <input type="date" asp-for="DeliveryDate" min="2020-01-01" required/>
                <span asp-validation-for="DeliveryDate"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="input-label"></div>
            <div class="form-input">
                <input type="submit" value="Submit"/>
            </div>
        </div>
    </form>
</div>
